/*
=============== 
Global Styles And Variables
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --bg-p-50: #d9f5df;
  --bg-p-100: #c9f0d1;
  --bg-p-200: #a9e8b6;
  --bg-p-300: #88df9b;
  --bg-p-400: #68d780;
  --bg-p-500: #48ce65;
  --bg-p-600: #31b74e;
  --bg-p-700: #27933f;
  --bg-p-800: #1e6f2f;
  --bg-p-900: #144a20;
  --bg-p-950: #0f3818;

  --bg-s-50: #c6e9ff;
  --bg-s-100: #b4e3ff;
  --bg-s-200: #90d5ff;
  --bg-s-300: #6dc8ff;
  --bg-s-400: #49baff;
  --bg-s-500: #25adff;
  --bg-s-600: #019fff;
  --bg-s-700: #0089dd;
  --bg-s-800: #0073b9;
  --bg-s-850: #0066a5;
  --bg-s-900: #004d7c;
  --bg-s-950: #003a5d;

  --text-50: #dadce0;
  --text-100: #cdd0d5;
  --text-200: #b4b8c0;
  --text-300: #9ba1ac;
  --text-400: #828997;
  --text-500: #6b7280;
  --text-600: #565c67;
  --text-700: #41454e;
  --text-800: #2c2f35;
  --text-900: #17191c;
  --text-950: #0d0e0f;

  --warning: #fdba40;
  --error: #cc392f;
  --error-light: #e64b40;

  --clr-black: '#222';

  --bg-main: #f5f7f8;
  --card-bg: #fff;
  --card-border-color: #d5d9db;
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --light-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  --light-radius: 0.25rem;
  --radius: 0.5rem;
}
::selection {
  background: var(--bg-s-100);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
  cursor: default;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--card-border-color);
    border-radius: 50rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-200);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-main);
  color: var(--text-800);
  line-height: 1.5;
  font-size: 0.875rem;
  max-width: 100vw;
  overflow-x: hidden;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}
